/* Boiler plate */

:root {
  font-size: 16px;
  font-family: "Oswald", sans-serif;

  /* Variables */
  --light: rgb(249, 247, 247);
  --light-grey: rgb(231, 224, 224);
  --light-blue: rgb(219, 226, 239);
  --blue: rgb(63, 114, 175);
  --dark-blue: rgb(17, 45, 78);

  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-big: 2rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: 0;
}

li {
  list-style-type: none;
}

/* Content */
.wrapper {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: var(--light);
  padding: var(--padding-medium);
  border: 0.3rem solid var(--light-grey);
  border-radius: 0.6rem;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.game__score {
  display: flex;
  justify-content: space-around;
}

.score-board {
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-choices {
  display: flex;
  justify-content: space-around;
}
