/* Boiler plate */

:root {
  font-size: 16px;
  font-family: "Oswald", sans-serif;

  /* Variables */
  --light: rgb(249, 247, 247);
  --light-grey: rgb(231, 224, 224);
  --light-blue: rgb(219, 226, 239);
  --blue: rgb(63, 114, 175);
  --dark-blue: rgb(17, 45, 78);

  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-big: 2rem;

  --winner-color: rgb(179, 245, 179);
  --loser-color: rgb(248, 165, 165);
  --neutral-color: rgb(97, 97, 97);
}

img {
  width: 80%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: 0;
}

li {
  list-style-type: none;
}

.margin-bottom-s {
  margin-bottom: var(--space-small);
}

.margin-bottom-m {
  margin-bottom: var(--space-medium);
}

.margin-bottom-l {
  margin-bottom: var(--space-large);
}

.hidden {
  display: none;
}

/* Content */
.wrapper {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: var(--light);
  padding: var(--space-big);
  border: 0.3rem solid var(--light-grey);
  border-radius: 0.6rem;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container--winner {
  border: 0.3rem solid var(--winner-color);
}

.container--loser {
  border: 0.3rem solid var(--loser-color);
}

.container__header {
  padding: var(--space-small);
}

.game__score {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.score-board {
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.score-board__score {
  position: relative;
  top: -1rem;
  font-size: 2rem;
}

.score-board__score--left {
  left: -2rem;
}

.score-board__score--right {
  left: 2rem;
}

.score-board__icon {
  position: absolute;
  bottom: 0;
}

.score-board__icon--right {
  right: 0;
}

.score-board__icon--left {
  left: 0;
}

.player-choices {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.player-choices__block {
  width: 8rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  background-color: var(--light-grey);
  background-size: cover;
  color: var(--light);
  padding: var(--space-small);
  border: 0.2rem solid transparent;
}

.player-choices__block--winner {
  border: 0.2rem solid var(--winner-color);
}

.player-choices__block--loser {
  border: 0.2rem solid var(--loser-color);
}

.player-choices__block--neutral {
  border: 0.2rem solid var(--neutral-color);
}

.player-choices__block--rock {
  background-image: url(./imgs/img_rock.jpg);
}

.player-choices__block--paper {
  background-image: url(./imgs/img_paper.jpg);
}

.player-choices__block--scissors {
  background-image: url(./imgs/img_scissors.jpg);
}

.form {
  display: flex;
  gap: var(--space-small);
}

.button {
  font-family: "Oswald", sans-serif;
  background-color: var(--light);
  min-height: 4rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: var(--space-small);
  flex: 1;
  border-radius: 0.3rem;
  background-size: cover;
  color: var(--light);
}

.button:not(.button--disabled):hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button[data-choice="rock"] {
  background-image: url(./imgs/img_rock.jpg);
}

.button[data-choice="paper"] {
  background-image: url(./imgs/img_paper.jpg);
}

.button[data-choice="scissors"] {
  background-image: url(./imgs/img_scissors.jpg);
}

.button--disabled {
  pointer-events: none;
}

.button--restart {
  padding: 0;
  min-height: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: absolute;
  background-color: var(--light-blue);
  border: none;
}

.button__svg {
  height: 100%;
  width: 100%;
}
